{{!-- estrutura do objeto criado que sera postado --}}
<div class="banner">
  <div class="cont">
<h2>{{this.title}}</h2>
<p>Categoria: {{this.category}}</p>
<p>Body: {{this.body}}</p>
<p>Comments: {{this.comments}}</p>

</div>
</div>
<p><a href="/">Voltar</a></p>