<div class="book-page">
  <a href="/books">Voltar</a>
  <div class="container">
    <h1>{{book.title}}</h1>
    <p>Este livro escrito pelo autor {{book.author}}, tem {{book.pag}} paginas.</p>
    <div class="actions">
      <a href="/books/edit/{{book.idbooks}}">Editar</a>
    </div>
  </div>
</div>