<h1>EDITE O SEU LIVRO</h1>

<form action="/book/updatebook" method="POST" class="form">
  <input type="hidden" name="id" value="{{book.idbooks}}">{{!-- colocar o hidden e uma forma de utilizar o valor sem que apareca para o usuario --}}
  <div class="form-control">
    <label for="title">Titulo: </label>
    <input type="text" name="title" placeholder="Digite o titulo.." value="{{book.title}}" />
  </div>
  <div class="form-control">
    <label for="pageqty">Quantidade de paginas: </label>
    <input
      type="number"
      name="pageqty"
      placeholder="Digite a quantidade de paginas.."
      value="{{book.pageqty}}"
    />
  </div>
  <div class="form-control">
    <label for="author">Autor: </label>
    <input type="text" name="author" placeholder="Digite o Autor.." value="{{book.author}}"/>
  </div>

  <input type="submit" value="Editar" />
</form>