<h1>CADASTRE O SEU LIVRO</h1>
<form action="/book/insertbook" method="POST" class="form">
  <div class="form-control">
    <label for="title">Titulo: </label>
    <input type="text" name="title" placeholder="Digite o titulo.." />
  </div>
  <div class="form-control">
    <label for="pageqty">Quantidade de paginas: </label>
    <input
      type="number"
      name="pageqty"
      placeholder="Digite a quantidade de paginas.."
    />
  </div>
  <div class="form-control">
    <label for="author">Autor: </label>
    <input type="text" name="author" placeholder="Digite o Autor.." />
  </div>

  <input type="submit" value="cadastrar" />
</form>